<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Get huge and find a Routine!</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/routines" class="btn btn-default btn-sm">Routines</a>
        <a href="/Search" class="btn btn-default btn-sm">Search for Other Rutines</a>
    </div>

    <form>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
    <form>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                
                  

            </div>
        </div>
    </div>
    

</div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>