<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Routines</h1>
        <a href="/home" class="btn btn-default btn-sm">Home</a>
        <a href="/routines/new" class="btn btn-default btn-sm">Create Routine</a>
    </div>

    <div class="row">

        
    </div>
    

</div>
    
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>