<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>What did I learn?</h1>
    <hr>

    <ul class="list-group">
        <li class="list-group-item">I understand Why React and Angular exist</li>
        <li class="list-group-item">I dont like making user interfaces</li>
        <li class="list-group-item">Likes are difficult to implement</li>
        <li class="list-group-item">Mongoose over everything</li>
        <li class="list-group-item">A project is never finished</li>
    </ul>
    <br>
    <br>
    <p>Go <a href="/">home</a>.</p>

</div>


</div>
</body>
</html>